.incoming_msg{
    margin-top: 15px;
    margin-bottom: 15px;
}


.write_msg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	outline:none;
}

.time_date {
    /* padding-left: 25em; */
    width: 57%;
}